extends /layout

block prepend title
    - var pageTitle = ' | Larger Structures'

block content
    include /_partials/_nav-mobile
    main.masthead.container-image-fill(data-interchange='[./img/data-distortion-textures-@1x.png, small], [img/data-distortion-textures-@2x.png, large]')
        include /_partials/_nav-primary
        .row
            .small-12.columns
                h1.header-masthead Style Guide & Examples
                h2.masthead--subheader A subtitle keeps things concise.
                p.lead Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.
        .row.small-up-1.medium-up-2.large-up-3.xlarge-up-4
            - var pages = [{title: 'Content Blocks & Structures', url: 'guide/blocks', desc: 'These larger-level structures work well from mobile to desktop extra-wide, and have many options like padding, image backgrounds, and color classes.'}, {title: 'Typography', url: 'guide/typography', desc: 'Basic typography styles and formatting.'}, {title: 'Components', url: 'guide/components', desc: 'Cards and other elements.'}]
            each page, n in pages
                .column
                    .callout
                        a(href='/' + page.url, title='Explore ' + page.title)
                            h3= page.title
                        p= page.desc

            //- .small-12.medium-6.columns
                //- .callout.callout-dark
                //-     h3.callout-dark--header Panel header above some content
                //-     p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae.
block footer
    //- include /_partials/_footer
