extends layout

block content
    header.masthead.container-image-fill(data-interchange='[img/data-distortion-textures-@1x.png, small], [img/data-distortion-textures-@2x.png, large]')
        //- != partial("/_partials/_nav-primary")
        .row
            .small-12.columns
                h1.header-masthead Style Guide & Examples
        .row
            .small-12.medium-6.columns
                h2.masthead--subheader A subtitle keeps things concise.
                p.lead Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.
            .small-12.medium-6.columns
                .callout.callout-dark
                    h3.callout-dark--header Panel header above some content
                    p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae.
    main
        section.section-article.container-image-fill(data-interchange='[img/light-bulb-retro-@1x.jpg, small], [img/team-meeting-@2x.jpg, large]')
            .row
                .small-12.medium-6.large-4.columns.callout.callout-light
                    h2.section-article--header An image section—with responsive images.
                        h4.section-article--subheader A different image is loaded on mobile
                    .section-article--block
                        // ---- this block is markdown =============
                        :markdown
                            The column width changes with the viewport, allowing for some interesting art direction possibilities. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam
                            
                            **This content is rendered inline** with the jade markdown filter. As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original. 
                            
                            * At vero eos et accusamus
                            * Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.
                            * Excepturi sint occaecati cupiditate non provident
                            * Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                        button.button.success.large.expanded
                            | It's good 
                            //- img.icon-size--small.svg-color--white.inject-me(src='svg-other/ic_check_24px.svg', alt='check')
        section.section-article
            .row
                .small-12.columns.text-center.section-article--header-group
                    h1.section-article--header Let's look at some content on white.
                    h2.section-article--subheader The columns' source-order switches at different viewports.
            .row
                .small-12.medium-6.columns.small-order-2.medium-order-1
                    .callout.callout-brand--secondary
                        h3.callout-dark--header This panel swaps source order on small
                        p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae.
                .small-12.medium-6.columns.small-order-1.medium-order-2
                    p Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.
                    p As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original.
            hr.divider
