footer.container-pad--medium.container-color--gray
    .row.full-width.small-up-1.medium-up-2.large-up-3
        .column
            h4 Info
            p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae.
        .column
            h4 Info
            ul
                li Sed ut perspiciatis, unde omnis iste natus error
                li sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa
                li quae ab illo inventore veritatis
                li et quasi architecto beatae vitae.
        .column
            h4 Info
            p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae.
