include /_includes/_data
nav
    #site-menu.top-bar.row
        .top-bar-left
            ul.dropdown.menu(data-dropdown-menu='')
                
                        
                li.menu-text
                    a.menu-logo(href='/', title='main')
                        img.logo--nav(src='/img/svg/logo-catalyze-white.svg', alt='site logo')
                each page, n in pages
                    li
                        a.nav-link--light(href=page.url, title=page.title) #{page.navTitle}

        .top-bar-right
            //- search box
            //- .menu.hide-for-small-only
            //-     .input-group.align-right
            //-         input.input-group-field(type='search', placeholder='Search')
            //-         .input-group-button
            //-             input.button(type='submit', value='Search')
            //-         button.button.button-hollow--white Call today
            //- .menu.show-for-small-only
            //-     button.button.button-hollow--white.expanded Call today
            .menu.align-right
                button.button.button-hollow--white.hide-for-small-only Call-to-Action
                button.button.button-hollow--white.expanded.show-for-small-only Call-to-Action
